<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 配置连接数据库文件 -->
	<context:property-placeholder
		location="classpath:jdbc.properties" />

	<!-- 创建basicDataSource -->
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url" value="${jdbc.url}"></property>
		<property name="driverClassName"
			value="${jdbc.driverClassName}"></property>
		<property name="username" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean>

	<!-- 创建sqlSessionFactoryBean -->
	<bean id="sqlSessionFactoryBean"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 关联链接池 -->
		<property name="dataSource" ref="dataSource"></property>
		<!-- 查找sql映射文件 -->
		<property name="mapperLocations"
			value="classpath:mapper/*.xml"></property>
		<!-- 引入插件 -->
		<property name="plugins">
			<!-- mybatis分页插件 -->
			<bean class="com.github.pagehelper.PageInterceptor">
				<property name="properties">
					<!-- helperDialect:连接数据库的类型 -->
					<value>
						helperDialect=mysql
					</value>
				</property>
			</bean>
		</property>
	</bean>

	<!-- 启动mapper接口扫描 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 配置mapper所在位置 -->
		<property name="basePackage" value="com.dao"></property>
	</bean>

	<!-- 使用springioc注解功能 -->
	<context:component-scan base-package="com" />

	<!-- 开启spring的事务管理 -->
	<bean id="dataSourceTransactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!-- 关联链接池 -->
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<!-- 启动spring事务注解 -->
	<tx:annotation-driven
		transaction-manager="dataSourceTransactionManager" />
</beans>